@font-face {
    font-family: Gothams;
    src: url(/Font/FontGotham/SVN-GothamBook.otf);
  }
html,body{
    background-color: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    box-sizing: border-box;
    font-family: Gothams !important;
    font-weight: 550 !important;
}
.plusIcon{
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: rgb(237,237,237);
    cursor: pointer;
}

.plusIcon i{
    margin: 0;
}
.fa-plus::before{
    content: "\+";
    font-size: 25px;
}

.TextAddButton{
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.titleInfo{
    font-size: 20px;
}

.formRound{
    border-radius: 35px !important;
    border: 0.1px;
}

.form-control{
    background-color: rgb(245,245,245);
  }
.submitButton{
  margin-top: 21px;
  font-size: small !important;
  border-radius: 35px !important;
  background-color: rgb(61,105,225);
  color: white;
  width: 171px;
  padding: 10px 0;
  font-weight: bolder;
  float: right;
}

.modal-header{
    border-bottom: none !important;
}
