.manage-option{
    
    background-color: rgb(22, 94, 153);
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  align-items: center;
  color:white;
  flex-direction: column;
    
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
       
    }
    .flex-container-column{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
       
    }
    .flex-container-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
       
    }
.manage-option:hover{
    box-shadow: 5px 5px 20px rgb(8, 8, 8);
    
}
.vin-title{text-align: center;
    color:rgb(41, 69, 228);
font-family: Georgia, 'Times New Roman', Times, serif;}
.stock-add{
    margin-left: 20px;}
.stock-confirm{margin: 10px;}
.car-add{width: 200px;
    margin-left: 20px;}
    .option-container{display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;}
    .option{
        margin-left: 2px;
        width: 150px;
        height: 50px;
        border: 3px solid rgb(89, 169, 243);
        border-left: none;
        border-bottom: none;
        border-top-right-radius: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
      align-items: center;
    
      flex-direction: column;}
      .option:hover{ box-shadow: 2px 0px 5px rgb(9, 62, 112);}
 
  .status{display: flex;
    justify-content:center;
    color: rgb(52, 71, 247);
}

.report-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}
.card-report{
    margin: 2% 2%;
}
.formRound{
    border-radius: 35px !important;
    border: 0.2px solid !important;
    background-color:white!important;
  }

  .empsignin{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: white;
padding: 20px;
border: 1px double rgb(12, 34, 94);
border-radius: 10px;
}
.phat{
    border:.1px solid gray;
    border-radius: 10px;
    padding: 10px;

    background-color: white;}

    .employeeinfo{
        width: 300px;
        margin: 30px;
        border: 0.1 solid darkblue;
        border-radius: 5px;
        background-color: rgb(233, 231, 231);
        padding: 15px;
        
    }


    .modal-header{background-color:rgb(73, 115, 231);

                    color: white;}
    .stock-confirm{border-radius: 5px;
                    border: 0.1px  dotted;
                       padding: 10px;}