.wrapperLayout{
    display: flex;
    justify-content: space-evenly;
}

.formRound{
border-radius: 35px !important;

  }
  
.divLeft{
    display: flex;
    flex-direction: column;
}

.fee-area1{
    margin-top: 80px;
}
.showCar{
    max-height: 50%;
    height: 100%;
}

.item-fee{
    margin-bottom: 40px;
}
.font-weight-bold{
    font-weight: 700!important;
}
.fee-area2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.fee-area2 > div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.fee-area2 > div span:nth-child(1){
    font-weight: bold;
    
}
.fee-area2 .listedPrice{
    display: flex;
    align-items: center;
    margin-bottom: 5px !important;
}
#carPrice{
    font-size: 30px;
    color: rgb(44,114,198);
}
.form-control{
   height: calc(2em + 0.75rem + 1px) !important;
}


.form-group >label{
    padding-left: 20px;
    font-size: 15px;
    
    color: rgb(104,105,109);
  }

  .line{
    color:  rgb(199, 199, 199);
    width: 100%;
   }
   .CostEstimate{
       display:flex;
       justify-content: start;
       flex-direction: column;
   }
   .text-CostEstimate{
       font-size: 25px;
       margin-bottom: 15px;
   }

   #carCostEstimate{
       color: rgb(44,114,198);
       font-size: 25px;
       margin-bottom:20px !important;
   }

   .buttonDeposit{
    margin-top: 10px !important; 
    font-size: normal !important;
    border-radius: 35px !important;
    background-color: rgb(61,105,225);
    color: white;
    padding: 16px 0;
    font-weight: bolder;
  }

  .buttonViewDetail{
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 35px !important;
    padding: 16px 0;
    font-size: small !important;
    
  }
  .buttonViewDetail:hover{
    background-color: black;
    color: white;
  }